<!doctype html>
<html>
<head>
	<title>CS290 - HW6 - Eva Haynes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	{{{body}}}
	<script src="/client.js"></script>
</body>
</html>